.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  padding: 10px 10px;
  z-index: 2;
  transition: all 200ms ease-in-out;
}

.is-fixed.scrolled{
  background-color: white;
  padding: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

.hero.is-primary .nav{
  box-shadow: none;
}

.banner-logo{
  padding-left: 10px;
}

.nav-toggle{
  background-color: #00d1b2;
}

.links{
  transition: all 200ms ease-in-out;
}

.links:hover{
  transform: translate(0px, -3px);
}

.banner-img{
  background-image: url("../images/banner-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.has-text-centered a.btnLink{
  transition: all 200ms ease-in-out;
}

  /*About Section*/
.colorSection{
  background-color: whitesmoke;
}

.addPadding{
  padding: 50px 12px;
}

.column{
  display: inline-block;
  text-align: center;
}

.column .icon{
  border: 2px solid #00d1b2;
  border-radius: 50%;
  padding: 40px;
  margin-bottom: 10px;
}

.column .icon .fa{
  color: #00d1b2;
}

.content .content-image{
  width: 75%;
  height: 20px;
}

.temp{
  float: left;
}

.timeline-image{
  height: 100px;
}

.container-width{
  width: 60%;
}